
body{
      overflow-x: hidden;
      font-family: 'Roboto', sans-serif;
} 

#content{
  min-height: 600px;
  padding-top: 70px;
}

#footer {  
    font-family: Roboto!important;
    padding-top: 5px;
    color: #fff;
    bottom: 0px;
    /* position: fixed; */
    height: 55px;
    width: 100%;
    background-color: #B01B1B;
    position: relative;
}

.wrapper {
   min-height: 93%;
   margin-left:0;
   margin-right:0;
   position: relative;
   background-color: #fff;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

/* <NAVBAR> start*/
  
.navbar-blue {
    border-width:0;
  background-color:#0B486B;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
    box-shadow: 0 -4px 0px 4px #000000,0 2px 4px 0 rgba(255, 255, 255, 0.2);
}

.navbar-blue li > a,.navbar-toggle  {
   color:#efefef;
}

@media (min-width: 468px){
.navbar-blue .dropdown-menu li a {color:#2A4888;}
}

.navbar-blue .dropdown-menu li > a {padding-left:30px;}

.navbar-blue li>a:hover, .navbar-blue li>a:focus, .navbar-blue .open, .navbar-blue .open>a, .navbar-blue .open>a:hover, .navbar-blue .open>a:focus {
   background-color:#3B8686;
   color:#fff;
}

 .navbar-blue {
  background-color:#0B486B;
    top:0;
    width:100%;
    position:relative;
  }


.project a:hover {
  color: #1abc9c;
    background-color: transparent;
        text-decoration: none;
}

.project a {
    color: #fff;
    text-decoration: none;
}

/*project title*/
.project{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 22px;
    line-height: 20px;
}

.navbar-nav {
      padding-left: 112px;
}


.PHR {
  position: absolute;
  width: 376px;
}  
/* <NAVBAR/> End */

.noData{
  font-size: xx-large;
}

.requiredField{
  color: red;
  font-weight: bolder;
  /*font-size: 20px;*/
}



/* <footer> start*/
  .footer-nav{
  float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 14px;
    line-height: 20px;
    background-color: #B01B1B;
}

.footer-links{
      margin-top: -13px;
      margin-top: 0px;
      padding-left: 0px;
}

.footer-links ul{
    list-style: none;
}

.footer-links li {
    display: inline;
    padding-left: 27px;
}

.footer-links a {
    color: white;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  /*.column .padding {
    padding: 7px;
  }*/

  .full{
  padding-top:20px;
  }

  .navbar-blue {
  background-color:#B01B1B;
    top:0;
    width:100%;
    position:relative;
  }

}

.navbar-blue {
    border-width:0;
  background-color:#B01B1B;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
    box-shadow: 0 -4px 0px 4px #000000,0 2px 4px 0 rgba(255, 255, 255, 0.2);
}

.navbar-blue li > a,.navbar-toggle  {
   color:#efefef;
}

@media (min-width: 468px){
.navbar-blue .dropdown-menu li a {color:#2A4888;}
}

.navbar-blue .dropdown-menu li > a {padding-left:30px;}

.navbar-blue li>a:hover, .navbar-blue li>a:focus, .navbar-blue .open, .navbar-blue .open>a, .navbar-blue .open>a:hover, .navbar-blue .open>a:focus {
   background-color:#fff;
   color:#000;
}

.navbar-brand {
    position: absolute;
    padding: 7px 29px;
    font-size: 18px;
    line-height: 20px;
}

.liactive{
   background-color:#3B8686;
   color:#fff;
}

#main {
   background-color:#fff;
   padding-left:0;
   padding-right:0;

}

.no-pad-left{
  padding-left: 0px !important;
}

.no-pad-right{
  padding-right: 0px !important;
}

.panel-primary {
    border-color: #507434;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #507434;
    border-color: #507434;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-bottom: 10px;

}




